<footer class="page-footer  light-green darken-1">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">เกี่ยวกับ</h5>
                <p class="grey-text text-lighten-4">เพจแห่งความอิสระ เน้นแปลเกมจาก RPG Maker และ WOLF จากอังกฤษ>ไทย และไทย>อังกฤษ รวมถึงอัพคลิปลงแชแนล (แนะนำ whateverzone ย่อๆ)</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <div class="fb-page z-depth-1" data-href="https://www.facebook.com/whateverzonepage/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/whateverzonepage/"><a href="https://www.facebook.com/whateverzonepage/">Whateverzone</a></blockquote></div></div>
              </div>
            </div>
          </div>
          <div class="footer-copyright light-green darken-3">
            <div class="container">
            © 2016 Whateverzone
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
{% include js-loader.html %}
